<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Blog application</title>
</head>

<body>
    <%- include('./partials/nav') %>

        <div class="container mt-4">
            <div class="row row-cols-4">
                <% if (locals.blog) { %>
                    <% blog.forEach((element,index)=> { %>
                            <div class="card" style="width: 14rem;">
                                <img src="<%= element.coerImageUrl %> " class="card-img-top img-fluid img-thumbnail" alt="...">
                                <div class="card-body">
                                <h5 class="card-title"><%= element.title %></h5>
                                <a href="/blog/<%= element._id %>" class="btn btn-primary">View</a>
                                </div>
                            </div>
                    <% }) %>
                <% } %>
            </div>
        </div>
        <%- include('./partials/scripts') %>
</body>

</html>